/* base colors #356 #fea #d94 #a32 #511 */
body {
  font-size: 131%;
}
#header {
  padding: 0.25em;
  background-color: #356;
  background: -moz-linear-gradient(top, #356 0%, #023 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#356), to(#023));
  color: #fff;
  font-size: 116%;
}

#header a, #header a:visited {
  color: #fff;
  text-decoration: none;
  border: 0;
}

#header a:hover {
  color: #fea;
}

#body {
  padding-top: 1em;
  padding-bottom: 1em;
}
#body h2 {
  margin: 2em 0 0 0;
}
#footer {
  padding: 0.5em;
  background-color: #356;
  background: -moz-linear-gradient(top, #356 0%, #023 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#356), to(#023));
  color: #fff;
  font-size: 70%;
}
#footer a {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  color: #fea;
}
#navigation {
  list-style: none;
  margin: 0;
}

#navigation li {
  display: inline-block;
  font-size: 0.85em;
}

#navigation a {
  display: block;
  padding-right: 2em;
}

.logo {
  font-size: 100%;
  font-family: 'Philosopher', serif;
  font-weight: bold;
}

.tagline {
  font-size: 77%;
  white-space: nowrap;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', serif;
  font-weight: bold;
  color: #356;
}
h2 {
  font-size: 138.5%;  
}
h3 {
  margin-top: 1em;
  font-size: 123.1%;  
}
a, a:visited {
  font-weight: normal;
  color: #356;
  text-decoration: underline;
  border: none;
}
a:hover {
  color: #fff;
  xbackground-color: #356;
  text-decoration: none;
  border: none;
}
table {
  width: 100%;
}
th {
  background-color: #356;
  color: #fff;
  padding: 0.25em;
  border: 0.1em solid #fff;
}
td {
  padding: 0.25em;
  border: 2px solid #fff;
  border-bottom: 2px solid #666;
}
.number {
  text-align: right;
}
button:hover {
  cursor: pointer;
}

button::-moz-focus-inner {
  border:0;
}

button.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100%;
}

button.clean-gray:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}



button.pipeline {
  background: #467;
  background: -moz-linear-gradient(top, #467 0%, #023 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#467), to(#023));
  border: 1px solid #356;
  border-bottom: 1px solid #023;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #356;
  width: 100%;
}

button.pipeline:hover {
  background: #578;
  background: -moz-linear-gradient(top, #578 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#578), to(#134));
  border: 1px solid #134;
  border-bottom: 1px solid #023;
  cursor: pointer;
  text-shadow: 0 1px 0 #356;
}

button.pipeline:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
h1.home {
  padding: 0.25em 0 0 0;
  font-size: 275%;
  line-height: 1em;
}
h3.pipeline {
  height: 2em;
  margin: 0;
  line-height: 1em;
}
h3.module {
  height: 2em;
  margin: 0;
  line-height: 1em;
}
.module {
  color: #653;
}
ul.modules {
  background-color: #356;
  background: -moz-linear-gradient(top, #356 0%, #245 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#356), to(#245));
  border: 1px solid #245;
  border-bottom: 1px solid #023;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-height: 7em;
  margin: 0.5em 0;
  padding: 0.25em 0.25em 0 0.25em;
  list-style: none;
}
ul.components {
  background-color: #edb;
  background: -moz-linear-gradient(top, #edb 0%, #ba8 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edb), to(#ba8));
  border: 1px solid #cb9;
  border-bottom: 1px solid #a97;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-height: 8em;
  margin: 0.5em 0;
  padding: 0.25em 0.25em 0 0.25em;
  list-style: none;
}
ul.modules li {
  background: #467;
  background: -moz-linear-gradient(top, #467 0%, #023 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#467), to(#023));
  border: 1px solid #356;
  border-bottom: 1px solid #023;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 77%;
  font-weight: bold;
  line-height: 1;
  padding: 0.25em 0;
  margin: 0.25em 0;
  text-align: center;
  text-shadow: 0 1px 0 #356;
  width: 100%;
}
ul.components li {
  line-height: 1.5em;
  border: 1px solid #a97;
  border-bottom: 1px solid #a97;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 0.25em;
  font-size: 0.85em;
  color: #986;
}
.test tr {
  border-bottom: 1px solid #356;
}
.test td {
  text-align: center;
  margin: 0;
}
.test th {
  color: #fff;
  background-color: #356;
  margin: 0;
  padding: 0.25em;
  line-height: 1.3em;
}