<div class="row">
	<div class="twelvecol">
	  <h1>About gKnome [jee-nohm]</h1>
	</div>
</div>
<div class="row">
	<div class="sixcol">
	  <h2>Introduction</h2>
	  <p>Recent development of high throughput sequencing technology has opened a new era of personalized genomic medicine, with thousands of personal genomes expected to be sequenced by the end of 2011. There is a tremendous need for analyzing and interpreting this enormous amount of genomic information (consisting of millions of sequence variants per individual genome) for diagnosis and treatment in a disease-specific context.</p>
	  <h2>How gKnome works</h2>
	  <p>gKnome is a Whole Genome Sequencing analysis pipeline consisted of 3 major modules designed to filter for variants with functional impact, which enables the knowledge enrichment for diseases and pathways.
	    <%= image_tag "flowchart.png"%><div class="legend">A flowchart of the genome sequence analysis pipeline illustrates that over 5 million variants (in log 10 scale) in a personal genome can be filtered down to hundreds of variants with functional impact in a list of candidate genes, enriched with biological processes and pathways</div></p>
  </div>

  <div class="sixcol last">
    <h2>gKnome compared to others</h2>
    <p>Although early-generation programs such as ANNOVAR and Sequence Variant Analyzer (SVA)  provide basic tools to annotate and filter variants based on various criteria, they are limited in the following important areas:
      <ol>
        <li>Filter variants based on allele frequency according to different ethnic groups</li>
        <li>Estimate functional impact of variants based on different gene models</li>
        <li>Identify diseases and biological pathways likely to be implicated in the sample genomes</li>
        <li>Interpret analysis results by comparing to healthy control genomes</li>
        <li>Easy-to-use interface and publication-quality summary reports </li>
      </ol>
      </p>
      <p>To address the above limitations, a bioinformatic analysis pipeline is currently being developed to study variants identified from whole-exome or whole-genome sequencing (WGS) with several analysis modules. The pipeline follows the current practice of WGS analysis as demonstrated in recent literature.</p>
      <h2>Contact</h2>
      <p>This analysis pipeline is being made available as a free web tool that can be used for analyzing and interpreting whole genome or exome sequencing data. For questions/comments, please contact: 
      <ul>
        <li><%= link_to "Michael Hsing", "mailto:michael.hsing@childrens.harvard.edu"%></p></li>
        <li><%= link_to "Sek Won Kong", "mailto:swkong@enders.tch.harvard.edu"%></li>
      </ul>
	</div>
</div>