<div class="row">
	<div class="twelvecol">
	  <h1>Disease Enrichment Analysis</h1>
<table>
<tr>
  <th>Disease (ICD-9 Code)</th>
  <th style="white-space: nowrap">p-value</th>
  <th>Genes (NCBI GeneID)</th>
</tr>  

<tr><td>Night blindness(368.6)</td><td style="text-align:right">0.008</td><td>TRPM1(4308), AP3B1(8546), NR2E3(10002)</td></tr>
<tr><td>Night blindness,  unspecified(368.60)</td><td style="text-align:right">0.008</td><td>TRPM1(4308), AP3B1(8546), NR2E3(10002)</td></tr>
<tr><td>Hypopotassemia(276.8)</td><td style="text-align:right">0.016</td><td>CLCNKB(1188), WNK1(65125)</td></tr>
<tr><td>Unspecified congenital anomaly of unspecified limb(755.9)</td><td style="text-align:right">0.017</td><td>EXT2(2132), HOXA13(3209), HOXD8(3234), HOXD9(3235), ITGA2(3673), KIAA0586(9786), SALL4(57167)</td></tr>
<tr><td>Fragile X syndrome(759.83)</td><td style="text-align:right">0.019</td><td>FMR1(2332), FXR2(9513), TDRD3(81550)</td></tr>
<tr><td>Acute febrile mucocutaneous lymph node syndrome [MCLS](446.1)</td><td style="text-align:right">0.041</td><td>ZFHX3(463), CXCR2(3579), MMP12(4321), CSMD1(64478), PPP1R14C(81706)</td></tr>
<tr><td>Talipes equinovarus,  congenital(754.51)</td><td style="text-align:right">0.043</td><td>CTNNB1(1499), HOXD8(3234), HOXD9(3235)</td></tr>
<tr><td>Unspecified disturbance of conduct(312.9)</td><td style="text-align:right">0.045</td><td>CXCR2(3579), KIAA0174(9798), CWC15(51503), PKD1L2(114780)</td></tr>
<tr><td>Polycystic kidney,  unspecified type(753.12)</td><td style="text-align:right">0.056</td><td>CTNNB1(1499), CXCR2(3579), NCAM1(4684), KIAA1109(84162), PKD1L2(114780)</td></tr>
<tr><td>Diarrhea(787.91)</td><td style="text-align:right">0.061</td><td>CACNA1A(773), DPYD(1806), HTR3A(3359)</td></tr>
<tr><td>Hallucinations(780.1)</td><td style="text-align:right">0.069</td><td>CCKAR(886), FMR1(2332)</td></tr>
<tr><td>Aneurysm of unspecified site(442.9)</td><td style="text-align:right">0.077</td><td>BHMT(635), ITGA2(3673), LOXL2(4017), MMP12(4321), TNXB(7148), LTBP4(8425), ENOX2(10495), RTN4(57142)</td></tr>
<tr><td>Myelofibrosis with myeloid metaplasia(238.76)</td><td style="text-align:right">0.079</td><td>BMP1(649), CTNNB1(1499), CXCR2(3579)</td></tr>
<tr><td>Ehlers-Danlos syndrome(756.83)</td><td style="text-align:right">0.086</td><td>ATP7A(538), TNXB(7148)</td></tr>
<tr><td>Acidosis(276.2)</td><td style="text-align:right">0.086</td><td>FBP1(2203), SLC9A2(6549), PDHX(8050), ISCU(23479)</td></tr>
</table>
  </div>
</div>
