<div class="row">
	<div class="twelvecol">
<table>
  <h1>Gene Summary</h1>
<tr><th>Gene symbol</th><th class="number">Chromosome</th><th class="number">Transcript size</th><th class="number">Exon size</th><th class="number">CDS size</th><th class="number"># of variants </th><th class="number">variant density (per 1 Kbp CDS)</th></tr>
<tr><td>MTRNR2L10</td><td class="number">chrX</td><td class="number">1121</td><td class="number">1121</td><td class="number">75</td><td class="number">8</td><td class="number">106.67</td></tr>
<tr><td>MTRNR2L8</td><td class="number">chr11</td><td class="number">1290</td><td class="number">1290</td><td class="number">75</td><td class="number">4</td><td class="number">53.33</td></tr>
<tr><td>TEKT4</td><td class="number">chr2</td><td class="number">5337</td><td class="number">1455</td><td class="number">1308</td><td class="number">13</td><td class="number">9.94</td></tr>
<tr><td>SEC22B</td><td class="number">chr1</td><td class="number">20516</td><td class="number">1821</td><td class="number">648</td><td class="number">6</td><td class="number">9.26</td></tr>
<tr><td>PRIM2</td><td class="number">chr6</td><td class="number">330955</td><td class="number">2282</td><td class="number">1530</td><td class="number">12</td><td class="number">7.84</td></tr>
<tr><td>KRTAP7-1</td><td class="number">chr21</td><td class="number">694</td><td class="number">694</td><td class="number">265</td><td class="number">2</td><td class="number">7.55</td></tr>
<tr><td>GPHB5</td><td class="number">chr14</td><td class="number">4922</td><td class="number">392</td><td class="number">276</td><td class="number">2</td><td class="number">7.25</td></tr>
<tr><td>ISCU</td><td class="number">chr12</td><td class="number">6866</td><td class="number">1076</td><td class="number">503</td><td class="number">3</td><td class="number">5.96</td></tr>
<tr><td>C17orf103</td><td class="number">chr17</td><td class="number">14396</td><td class="number">4786</td><td class="number">342</td><td class="number">2</td><td class="number">5.85</td></tr>
<tr><td>STAG3L3</td><td class="number">chr7</td><td class="number">7429</td><td class="number">1258</td><td class="number">405</td><td class="number">2</td><td class="number">4.94</td></tr>
<tr><td>CRYBB2</td><td class="number">chr22</td><td class="number">12225</td><td class="number">763</td><td class="number">618</td><td class="number">3</td><td class="number">4.85</td></tr>
<tr><td>ZNF717</td><td class="number">chr3</td><td class="number">48227</td><td class="number">3068</td><td class="number">2745</td><td class="number">12</td><td class="number">4.37</td></tr>
<tr><td>DHRSX</td><td class="number">chrX</td><td class="number">281463</td><td class="number">2571</td><td class="number">993</td><td class="number">4</td><td class="number">4.03</td></tr>
<tr><td>FAM127B</td><td class="number">chrX</td><td class="number">1259</td><td class="number">711</td><td class="number">252</td><td class="number">1</td><td class="number">3.97</td></tr>
<tr><td>MAL2</td><td class="number">chr8</td><td class="number">37305</td><td class="number">2820</td><td class="number">532</td><td class="number">2</td><td class="number">3.76</td></tr>
<tr><td>TCEAL6</td><td class="number">chrX</td><td class="number">2456</td><td class="number">1532</td><td class="number">552</td><td class="number">2</td><td class="number">3.62</td></tr>
<tr><td>SCGB1C1</td><td class="number">chr11</td><td class="number">1494</td><td class="number">431</td><td class="number">288</td><td class="number">1</td><td class="number">3.47</td></tr>
<tr><td>FXYD6</td><td class="number">chr11</td><td class="number">40054</td><td class="number">2151</td><td class="number">288</td><td class="number">1</td><td class="number">3.47</td></tr>
<tr><td>FXYD6</td><td class="number">chr11</td><td class="number">40054</td><td class="number">2227</td><td class="number">288</td><td class="number">1</td><td class="number">3.47</td></tr>
<tr><td>FXYD6</td><td class="number">chr11</td><td class="number">40054</td><td class="number">2130</td><td class="number">288</td><td class="number">1</td><td class="number">3.47</td></tr>
<tr><td>FXYD6</td><td class="number">chr11</td><td class="number">40054</td><td class="number">2054</td><td class="number">288</td><td class="number">1</td><td class="number">3.47</td></tr>
<tr><td>FXYD6</td><td class="number">chr11</td><td class="number">40453</td><td class="number">1746</td><td class="number">288</td><td class="number">1</td><td class="number">3.47</td></tr>
<tr><td>CCDC53</td><td class="number">chr12</td><td class="number">49182</td><td class="number">912</td><td class="number">584</td><td class="number">2</td><td class="number">3.42</td></tr>
<tr><td>OR4C45</td><td class="number">chr11</td><td class="number">7100</td><td class="number">919</td><td class="number">919</td><td class="number">3</td><td class="number">3.26</td></tr>
<tr><td>RPL10</td><td class="number">chrX</td><td class="number">4110</td><td class="number">2318</td><td class="number">645</td><td class="number">2</td><td class="number">3.10</td></tr>
<tr><td>C21orf62</td><td class="number">chr21</td><td class="number">23069</td><td class="number">4120</td><td class="number">659</td><td class="number">2</td><td class="number">3.03</td></tr>
<tr><td>C21orf62</td><td class="number">chr21</td><td class="number">23069</td><td class="number">3964</td><td class="number">659</td><td class="number">2</td><td class="number">3.03</td></tr>
<tr><td>C21orf62</td><td class="number">chr21</td><td class="number">23069</td><td class="number">4045</td><td class="number">659</td><td class="number">2</td><td class="number">3.03</td></tr>
<tr><td>BAGE2</td><td class="number">chr21</td><td class="number">78084</td><td class="number">1891</td><td class="number">330</td><td class="number">1</td><td class="number">3.03</td></tr>
<tr><td>BAGE3</td><td class="number">chr21</td><td class="number">78084</td><td class="number">1891</td><td class="number">330</td><td class="number">1</td><td class="number">3.03</td></tr>
<tr><td>RETNLB</td><td class="number">chr3</td><td class="number">1645</td><td class="number">573</td><td class="number">336</td><td class="number">1</td><td class="number">2.98</td></tr>
<tr><td>TRIM64</td><td class="number">chr11</td><td class="number">5569</td><td class="number">1533</td><td class="number">1350</td><td class="number">4</td><td class="number">2.96</td></tr>
<tr><td>FAM104B</td><td class="number">chrX</td><td class="number">15890</td><td class="number">1327</td><td class="number">339</td><td class="number">1</td><td class="number">2.95</td></tr>
<tr><td>FAM127B</td><td class="number">chrX</td><td class="number">1259</td><td class="number">1259</td><td class="number">342</td><td class="number">1</td><td class="number">2.92</td></tr>
<tr><td>CWC15</td><td class="number">chr11</td><td class="number">10990</td><td class="number">1575</td><td class="number">689</td><td class="number">2</td><td class="number">2.90</td></tr>
<tr><td>FAM104B</td><td class="number">chrX</td><td class="number">15858</td><td class="number">1405</td><td class="number">345</td><td class="number">1</td><td class="number">2.90</td></tr>
<tr><td>FAM104B</td><td class="number">chrX</td><td class="number">18094</td><td class="number">1064</td><td class="number">348</td><td class="number">1</td><td class="number">2.87</td></tr>
<tr><td>FAM104B</td><td class="number">chrX</td><td class="number">15951</td><td class="number">1226</td><td class="number">348</td><td class="number">1</td><td class="number">2.87</td></tr>
<tr><td>KLRF1</td><td class="number">chr12</td><td class="number">17527</td><td class="number">1241</td><td class="number">699</td><td class="number">2</td><td class="number">2.86</td></tr>
<tr><td>FAM104B</td><td class="number">chrX</td><td class="number">18094</td><td class="number">1067</td><td class="number">351</td><td class="number">1</td><td class="number">2.85</td></tr>
<tr><td>FAM104B</td><td class="number">chrX</td><td class="number">15951</td><td class="number">1229</td><td class="number">351</td><td class="number">1</td><td class="number">2.85</td></tr>
<tr><td>EMG1</td><td class="number">chr12</td><td class="number">5222</td><td class="number">1071</td><td class="number">734</td><td class="number">2</td><td class="number">2.72</td></tr>
<tr><td>MGC87042</td><td class="number">chr7</td><td class="number">80839</td><td class="number">1298</td><td class="number">738</td><td class="number">2</td><td class="number">2.71</td></tr>
<tr><td>RAB6C</td><td class="number">chr2</td><td class="number">3077</td><td class="number">3077</td><td class="number">765</td><td class="number">2</td><td class="number">2.61</td></tr>
<tr><td>MRPL51</td><td class="number">chr12</td><td class="number">1156</td><td class="number">677</td><td class="number">387</td><td class="number">1</td><td class="number">2.58</td></tr>
<tr><td>SLC29A3</td><td class="number">chr10</td><td class="number">44138</td><td class="number">2273</td><td class="number">777</td><td class="number">2</td><td class="number">2.57</td></tr>
<tr><td>SPIN2A</td><td class="number">chrX</td><td class="number">1976</td><td class="number">1319</td><td class="number">777</td><td class="number">2</td><td class="number">2.57</td></tr>
<tr><td>EI24</td><td class="number">chr11</td><td class="number">15278</td><td class="number">2149</td><td class="number">788</td><td class="number">2</td><td class="number">2.54</td></tr>
<tr><td>LEKR1</td><td class="number">chr3</td><td class="number">98898</td><td class="number">1940</td><td class="number">399</td><td class="number">1</td><td class="number">2.51</td></tr>
<tr><td>RBMXL3</td><td class="number">chrX</td><td class="number">3469</td><td class="number">3469</td><td class="number">3204</td><td class="number">8</td><td class="number">2.50</td></tr>
<tr><td>UBXN8</td><td class="number">chr8</td><td class="number">22831</td><td class="number">1439</td><td class="number">812</td><td class="number">2</td><td class="number">2.46</td></tr>
<tr><td>HOXD8</td><td class="number">chr2</td><td class="number">2956</td><td class="number">2580</td><td class="number">870</td><td class="number">2</td><td class="number">2.30</td></tr>
<tr><td>HOXD8</td><td class="number">chr2</td><td class="number">2956</td><td class="number">2583</td><td class="number">873</td><td class="number">2</td><td class="number">2.29</td></tr>
<tr><td>ART5</td><td class="number">chr11</td><td class="number">3750</td><td class="number">1501</td><td class="number">876</td><td class="number">2</td><td class="number">2.28</td></tr>
<tr><td>ART5</td><td class="number">chr11</td><td class="number">3811</td><td class="number">1249</td><td class="number">876</td><td class="number">2</td><td class="number">2.28</td></tr>
<tr><td>ZFAND2A</td><td class="number">chr7</td><td class="number">7313</td><td class="number">901</td><td class="number">438</td><td class="number">1</td><td class="number">2.28</td></tr>
<tr><td>SDR39U1</td><td class="number">chr14</td><td class="number">3036</td><td class="number">1231</td><td class="number">882</td><td class="number">2</td><td class="number">2.27</td></tr>
<tr><td>OR9G1</td><td class="number">chr11</td><td class="number">918</td><td class="number">918</td><td class="number">918</td><td class="number">2</td><td class="number">2.18</td></tr>
<tr><td>OR9G9</td><td class="number">chr11</td><td class="number">918</td><td class="number">918</td><td class="number">918</td><td class="number">2</td><td class="number">2.18</td></tr>
<tr><td>H2BFM</td><td class="number">chrX</td><td class="number">2506</td><td class="number">1882</td><td class="number">465</td><td class="number">1</td><td class="number">2.15</td></tr>
<tr><td>FAM174B</td><td class="number">chr15</td><td class="number">38353</td><td class="number">2629</td><td class="number">480</td><td class="number">1</td><td class="number">2.08</td></tr>
<tr><td>ZNF595</td><td class="number">chr4</td><td class="number">34873</td><td class="number">2860</td><td class="number">1945</td><td class="number">4</td><td class="number">2.06</td></tr>
<tr><td>NUDT18</td><td class="number">chr8</td><td class="number">2550</td><td class="number">1521</td><td class="number">974</td><td class="number">2</td><td class="number">2.05</td></tr>
<tr><td>CD207</td><td class="number">chr2</td><td class="number">5611</td><td class="number">1872</td><td class="number">987</td><td class="number">2</td><td class="number">2.03</td></tr>
<tr><td>GPBAR1</td><td class="number">chr2</td><td class="number">2844</td><td class="number">2002</td><td class="number">992</td><td class="number">2</td><td class="number">2.02</td></tr>
<tr><td>GPBAR1</td><td class="number">chr2</td><td class="number">2844</td><td class="number">1494</td><td class="number">992</td><td class="number">2</td><td class="number">2.02</td></tr>
<tr><td>GPBAR1</td><td class="number">chr2</td><td class="number">2844</td><td class="number">1381</td><td class="number">992</td><td class="number">2</td><td class="number">2.02</td></tr>
<tr><td>PPP1R14C</td><td class="number">chr6</td><td class="number">107341</td><td class="number">2211</td><td class="number">498</td><td class="number">1</td><td class="number">2.01</td></tr>
<tr><td>KRTAP1-3</td><td class="number">chr17</td><td class="number">971</td><td class="number">971</td><td class="number">504</td><td class="number">1</td><td class="number">1.98</td></tr>
<tr><td>SCAMP1</td><td class="number">chr5</td><td class="number">120224</td><td class="number">6244</td><td class="number">1016</td><td class="number">2</td><td class="number">1.97</td></tr>
<tr><td>FBP1</td><td class="number">chr9</td><td class="number">36507</td><td class="number">1594</td><td class="number">1017</td><td class="number">2</td><td class="number">1.97</td></tr>
<tr><td>FBP1</td><td class="number">chr9</td><td class="number">37115</td><td class="number">1493</td><td class="number">1017</td><td class="number">2</td><td class="number">1.97</td></tr>
<tr><td>EI24</td><td class="number">chr11</td><td class="number">15278</td><td class="number">2261</td><td class="number">1022</td><td class="number">2</td><td class="number">1.96</td></tr>
<tr><td>SPPL2B</td><td class="number">chr19</td><td class="number">26472</td><td class="number">3814</td><td class="number">1535</td><td class="number">3</td><td class="number">1.95</td></tr>
<tr><td>MGC87042</td><td class="number">chr7</td><td class="number">61864</td><td class="number">1299</td><td class="number">1029</td><td class="number">2</td><td class="number">1.94</td></tr>
<tr><td>DCAF7</td><td class="number">chr17</td><td class="number">43820</td><td class="number">6354</td><td class="number">1030</td><td class="number">2</td><td class="number">1.94</td></tr>
<tr><td>CRYGD</td><td class="number">chr2</td><td class="number">2983</td><td class="number">707</td><td class="number">525</td><td class="number">1</td><td class="number">1.90</td></tr>
<tr><td>HOXD9</td><td class="number">chr2</td><td class="number">2233</td><td class="number">1885</td><td class="number">1059</td><td class="number">2</td><td class="number">1.89</td></tr>
<tr><td>TSPAN10</td><td class="number">chr17</td><td class="number">6431</td><td class="number">1613</td><td class="number">1068</td><td class="number">2</td><td class="number">1.87</td></tr>
<tr><td>SLC37A4</td><td class="number">chr11</td><td class="number">6556</td><td class="number">2033</td><td class="number">1072</td><td class="number">2</td><td class="number">1.87</td></tr>
<tr><td>P2RX5</td><td class="number">chr17</td><td class="number">6004</td><td class="number">958</td><td class="number">537</td><td class="number">1</td><td class="number">1.86</td></tr>
<tr><td>POU3F4</td><td class="number">chrX</td><td class="number">1507</td><td class="number">1507</td><td class="number">1086</td><td class="number">2</td><td class="number">1.84</td></tr>
<tr><td>UNKL</td><td class="number">chr16</td><td class="number">16479</td><td class="number">3974</td><td class="number">549</td><td class="number">1</td><td class="number">1.82</td></tr>
<tr><td>NR2E3</td><td class="number">chr15</td><td class="number">4377</td><td class="number">2103</td><td class="number">1105</td><td class="number">2</td><td class="number">1.81</td></tr>
<tr><td>KRTAP10-7</td><td class="number">chr21</td><td class="number">1595</td><td class="number">1580</td><td class="number">1113</td><td class="number">2</td><td class="number">1.80</td></tr>
<tr><td>KRTAP4-8</td><td class="number">chr17</td><td class="number">1142</td><td class="number">1142</td><td class="number">558</td><td class="number">1</td><td class="number">1.79</td></tr>
<tr><td>DUSP5</td><td class="number">chr10</td><td class="number">13678</td><td class="number">2528</td><td class="number">1155</td><td class="number">2</td><td class="number">1.73</td></tr>
<tr><td>AP3S1</td><td class="number">chr5</td><td class="number">72160</td><td class="number">1289</td><td class="number">582</td><td class="number">1</td><td class="number">1.72</td></tr>
<tr><td>NPRL3</td><td class="number">chr16</td><td class="number">52807</td><td class="number">2748</td><td class="number">1172</td><td class="number">2</td><td class="number">1.71</td></tr>
<tr><td>ASPHD1</td><td class="number">chr16</td><td class="number">5231</td><td class="number">1478</td><td class="number">1173</td><td class="number">2</td><td class="number">1.71</td></tr>
<tr><td>C8orf30A</td><td class="number">chr8</td><td class="number">2949</td><td class="number">2405</td><td class="number">1173</td><td class="number">2</td><td class="number">1.71</td></tr>
<tr><td>C8orf30A</td><td class="number">chr8</td><td class="number">2949</td><td class="number">2405</td><td class="number">1173</td><td class="number">2</td><td class="number">1.71</td></tr>
<tr><td>WDR13</td><td class="number">chrX</td><td class="number">7359</td><td class="number">2460</td><td class="number">1182</td><td class="number">2</td><td class="number">1.69</td></tr>
<tr><td>SPPL2B</td><td class="number">chr19</td><td class="number">26472</td><td class="number">3751</td><td class="number">1778</td><td class="number">3</td><td class="number">1.69</td></tr>
<tr><td>ZNF322B</td><td class="number">chr9</td><td class="number">2374</td><td class="number">2374</td><td class="number">1209</td><td class="number">2</td><td class="number">1.65</td></tr>
<tr><td>HS6ST2</td><td class="number">chrX</td><td class="number">335375</td><td class="number">4447</td><td class="number">1818</td><td class="number">3</td><td class="number">1.65</td></tr>
<tr><td>KRTAP5-10</td><td class="number">chr11</td><td class="number">1058</td><td class="number">1058</td><td class="number">609</td><td class="number">1</td><td class="number">1.64</td></tr>
<tr><td>NR2E3</td><td class="number">chr15</td><td class="number">7704</td><td class="number">1996</td><td class="number">1234</td><td class="number">2</td><td class="number">1.62</td></tr>
<tr><td>MAD2L1</td><td class="number">chr4</td><td class="number">7437</td><td class="number">1438</td><td class="number">618</td><td class="number">1</td><td class="number">1.62</td></tr>
<tr><td>SPATA24</td><td class="number">chr5</td><td class="number">7321</td><td class="number">678</td><td class="number">618</td><td class="number">1</td><td class="number">1.62</td></tr>
<tr><td>CDC27</td><td class="number">chr17</td><td class="number">71355</td><td class="number">5592</td><td class="number">2475</td><td class="number">4</td><td class="number">1.62</td></tr>
<tr><td>CDC27</td><td class="number">chr17</td><td class="number">71355</td><td class="number">5610</td><td class="number">2493</td><td class="number">4</td><td class="number">1.60</td></tr>
<tr><td>SCRN3</td><td class="number">chr2</td><td class="number">33847</td><td class="number">2962</td><td class="number">1254</td><td class="number">2</td><td class="number">1.59</td></tr>
<tr><td>GOT1L1</td><td class="number">chr8</td><td class="number">5845</td><td class="number">1374</td><td class="number">1265</td><td class="number">2</td><td class="number">1.58</td></tr>
<tr><td>TMPRSS11E</td><td class="number">chr4</td><td class="number">50156</td><td class="number">2136</td><td class="number">1272</td><td class="number">2</td><td class="number">1.57</td></tr>
<tr><td>TMPRSS11E</td><td class="number">chr4</td><td class="number">50152</td><td class="number">2136</td><td class="number">1272</td><td class="number">2</td><td class="number">1.57</td></tr>
<tr><td>SCRN3</td><td class="number">chr2</td><td class="number">33847</td><td class="number">3053</td><td class="number">1275</td><td class="number">2</td><td class="number">1.57</td></tr>
<tr><td>PDE4DIP</td><td class="number">chr1</td><td class="number">143596</td><td class="number">8363</td><td class="number">7041</td><td class="number">11</td><td class="number">1.56</td></tr>
<tr><td>PDE4DIP</td><td class="number">chr1</td><td class="number">143610</td><td class="number">8321</td><td class="number">7089</td><td class="number">11</td><td class="number">1.55</td></tr>
<tr><td>SLC37A4</td><td class="number">chr11</td><td class="number">5218</td><td class="number">2049</td><td class="number">1291</td><td class="number">2</td><td class="number">1.55</td></tr>
<tr><td>SLC37A4</td><td class="number">chr11</td><td class="number">6556</td><td class="number">2607</td><td class="number">1291</td><td class="number">2</td><td class="number">1.55</td></tr>
<tr><td>SLC37A4</td><td class="number">chr11</td><td class="number">6556</td><td class="number">2103</td><td class="number">1291</td><td class="number">2</td><td class="number">1.55</td></tr>
<tr><td>HS6ST2</td><td class="number">chrX</td><td class="number">335375</td><td class="number">4567</td><td class="number">1938</td><td class="number">3</td><td class="number">1.55</td></tr>
<tr><td>ALG1L2</td><td class="number">chr3</td><td class="number">16560</td><td class="number">969</td><td class="number">648</td><td class="number">1</td><td class="number">1.54</td></tr>
<tr><td>MRPS34</td><td class="number">chr16</td><td class="number">1245</td><td class="number">1003</td><td class="number">657</td><td class="number">1</td><td class="number">1.52</td></tr>
<tr><td>EMID2</td><td class="number">chr7</td><td class="number">196183</td><td class="number">3005</td><td class="number">1319</td><td class="number">2</td><td class="number">1.52</td></tr>
<tr><td>LXN</td><td class="number">chr3</td><td class="number">6280</td><td class="number">1116</td><td class="number">669</td><td class="number">1</td><td class="number">1.49</td></tr>
<tr><td>SLC37A4</td><td class="number">chr11</td><td class="number">6556</td><td class="number">2357</td><td class="number">1357</td><td class="number">2</td><td class="number">1.47</td></tr>
<tr><td>XPC</td><td class="number">chr3</td><td class="number">33528</td><td class="number">3612</td><td class="number">2715</td><td class="number">4</td><td class="number">1.47</td></tr>
<tr><td>SLC46A1</td><td class="number">chr17</td><td class="number">11568</td><td class="number">6488</td><td class="number">1381</td><td class="number">2</td><td class="number">1.45</td></tr>
<tr><td>PADI6</td><td class="number">chr1</td><td class="number">29455</td><td class="number">2347</td><td class="number">2086</td><td class="number">3</td><td class="number">1.44</td></tr>
<tr><td>UNKL</td><td class="number">chr16</td><td class="number">16479</td><td class="number">4124</td><td class="number">699</td><td class="number">1</td><td class="number">1.43</td></tr>
<tr><td>ALDH3B1</td><td class="number">chr11</td><td class="number">20696</td><td class="number">2857</td><td class="number">1404</td><td class="number">2</td><td class="number">1.42</td></tr>
<tr><td>ALDH3B1</td><td class="number">chr11</td><td class="number">18954</td><td class="number">2815</td><td class="number">1404</td><td class="number">2</td><td class="number">1.42</td></tr>
<tr><td>MMP12</td><td class="number">chr11</td><td class="number">12301</td><td class="number">1876</td><td class="number">1412</td><td class="number">2</td><td class="number">1.42</td></tr>
<tr><td>PNLIPRP2</td><td class="number">chr10</td><td class="number">24190</td><td class="number">1481</td><td class="number">1412</td><td class="number">2</td><td class="number">1.42</td></tr>
<tr><td>XPC</td><td class="number">chr3</td><td class="number">33528</td><td class="number">3723</td><td class="number">2826</td><td class="number">4</td><td class="number">1.42</td></tr>
<tr><td>DIXDC1</td><td class="number">chr11</td><td class="number">45275</td><td class="number">5429</td><td class="number">1418</td><td class="number">2</td><td class="number">1.41</td></tr>
<tr><td>HADHB</td><td class="number">chr2</td><td class="number">45718</td><td class="number">2188</td><td class="number">1425</td><td class="number">2</td><td class="number">1.40</td></tr>
<tr><td>SLC29A3</td><td class="number">chr10</td><td class="number">44138</td><td class="number">2267</td><td class="number">1428</td><td class="number">2</td><td class="number">1.40</td></tr>
<tr><td>ZNF187</td><td class="number">chr6</td><td class="number">11193</td><td class="number">2813</td><td class="number">1436</td><td class="number">2</td><td class="number">1.39</td></tr>
<tr><td>ZNF187</td><td class="number">chr6</td><td class="number">11193</td><td class="number">2816</td><td class="number">1439</td><td class="number">2</td><td class="number">1.39</td></tr>
<tr><td>CDK1</td><td class="number">chr10</td><td class="number">16399</td><td class="number">1742</td><td class="number">723</td><td class="number">1</td><td class="number">1.38</td></tr>
<tr><td>PRSS3</td><td class="number">chr9</td><td class="number">48411</td><td class="number">787</td><td class="number">723</td><td class="number">1</td><td class="number">1.38</td></tr>
<tr><td>WDR13</td><td class="number">chrX</td><td class="number">7703</td><td class="number">2125</td><td class="number">1458</td><td class="number">2</td><td class="number">1.37</td></tr>
<tr><td>PRSS3</td><td class="number">chr9</td><td class="number">3671</td><td class="number">808</td><td class="number">744</td><td class="number">1</td><td class="number">1.34</td></tr>
<tr><td>PDE4DIP</td><td class="number">chr1</td><td class="number">188569</td><td class="number">8140</td><td class="number">6723</td><td class="number">9</td><td class="number">1.34</td></tr>
<tr><td>TMEM150C</td><td class="number">chr4</td><td class="number">77523</td><td class="number">1888</td><td class="number">750</td><td class="number">1</td><td class="number">1.33</td></tr>
<tr><td>FAM58B</td><td class="number">chr1</td><td class="number">988</td><td class="number">988</td><td class="number">759</td><td class="number">1</td><td class="number">1.32</td></tr>
<tr><td>CREB3L1</td><td class="number">chr11</td><td class="number">43745</td><td class="number">2671</td><td class="number">1560</td><td class="number">2</td><td class="number">1.28</td></tr>
<tr><td>HDHD2</td><td class="number">chr18</td><td class="number">43091</td><td class="number">2185</td><td class="number">780</td><td class="number">1</td><td class="number">1.28</td></tr>
<tr><td>MMP28</td><td class="number">chr17</td><td class="number">29765</td><td class="number">2464</td><td class="number">1562</td><td class="number">2</td><td class="number">1.28</td></tr>
<tr><td>CYP4F8</td><td class="number">chr19</td><td class="number">14419</td><td class="number">1905</td><td class="number">1562</td><td class="number">2</td><td class="number">1.28</td></tr>
<tr><td>PRSS3</td><td class="number">chr9</td><td class="number">48766</td><td class="number">1145</td><td class="number">786</td><td class="number">1</td><td class="number">1.27</td></tr>
<tr><td>SPIB</td><td class="number">chr19</td><td class="number">10056</td><td class="number">1471</td><td class="number">789</td><td class="number">1</td><td class="number">1.27</td></tr>
<tr><td>AK5</td><td class="number">chr1</td><td class="number">277368</td><td class="number">3936</td><td class="number">1611</td><td class="number">2</td><td class="number">1.24</td></tr>
<tr><td>HCCS</td><td class="number">chrX</td><td class="number">11799</td><td class="number">2356</td><td class="number">807</td><td class="number">1</td><td class="number">1.24</td></tr>
<tr><td>HCCS</td><td class="number">chrX</td><td class="number">11799</td><td class="number">2298</td><td class="number">807</td><td class="number">1</td><td class="number">1.24</td></tr>
<tr><td>HCCS</td><td class="number">chrX</td><td class="number">11799</td><td class="number">2261</td><td class="number">807</td><td class="number">1</td><td class="number">1.24</td></tr>
<tr><td>ANKRD33</td><td class="number">chr12</td><td class="number">3713</td><td class="number">1779</td><td class="number">819</td><td class="number">1</td><td class="number">1.22</td></tr>
<tr><td>REC8</td><td class="number">chr14</td><td class="number">8230</td><td class="number">2331</td><td class="number">1641</td><td class="number">2</td><td class="number">1.22</td></tr>
<tr><td>REC8</td><td class="number">chr14</td><td class="number">8230</td><td class="number">2230</td><td class="number">1641</td><td class="number">2</td><td class="number">1.22</td></tr>
<tr><td>M6PR</td><td class="number">chr12</td><td class="number">9289</td><td class="number">2454</td><td class="number">834</td><td class="number">1</td><td class="number">1.20</td></tr>
<tr><td>C17orf63</td><td class="number">chr17</td><td class="number">86845</td><td class="number">4162</td><td class="number">1688</td><td class="number">2</td><td class="number">1.18</td></tr>
<tr><td>C17orf63</td><td class="number">chr17</td><td class="number">86845</td><td class="number">4196</td><td class="number">1688</td><td class="number">2</td><td class="number">1.18</td></tr>
<tr><td>AK5</td><td class="number">chr1</td><td class="number">277993</td><td class="number">3325</td><td class="number">1689</td><td class="number">2</td><td class="number">1.18</td></tr>
<tr><td>SRSF8</td><td class="number">chr11</td><td class="number">4333</td><td class="number">4333</td><td class="number">848</td><td class="number">1</td><td class="number">1.18</td></tr>
<tr><td>NPRL3</td><td class="number">chr16</td><td class="number">52869</td><td class="number">2708</td><td class="number">1709</td><td class="number">2</td><td class="number">1.17</td></tr>
<tr><td>SENP3</td><td class="number">chr17</td><td class="number">9969</td><td class="number">2485</td><td class="number">1726</td><td class="number">2</td><td class="number">1.16</td></tr>
<tr><td>SQLE</td><td class="number">chr8</td><td class="number">23807</td><td class="number">2990</td><td class="number">1726</td><td class="number">2</td><td class="number">1.16</td></tr>
<tr><td>GTPBP6</td><td class="number">chrX</td><td class="number">9462</td><td class="number">1180</td><td class="number">865</td><td class="number">1</td><td class="number">1.16</td></tr>
<tr><td>LSR</td><td class="number">chr19</td><td class="number">19309</td><td class="number">2074</td><td class="number">1746</td><td class="number">2</td><td class="number">1.15</td></tr>
<tr><td>YTHDF3</td><td class="number">chr8</td><td class="number">44226</td><td class="number">5155</td><td class="number">1757</td><td class="number">2</td><td class="number">1.14</td></tr>
<tr><td>LOC440563</td><td class="number">chr1</td><td class="number">1367</td><td class="number">1156</td><td class="number">882</td><td class="number">1</td><td class="number">1.13</td></tr>
<tr><td>CDK1</td><td class="number">chr10</td><td class="number">16399</td><td class="number">1913</td><td class="number">894</td><td class="number">1</td><td class="number">1.12</td></tr>
<tr><td>TRIM52</td><td class="number">chr5</td><td class="number">4734</td><td class="number">2228</td><td class="number">894</td><td class="number">1</td><td class="number">1.12</td></tr>
<tr><td>UNC93B1</td><td class="number">chr11</td><td class="number">13019</td><td class="number">2315</td><td class="number">1793</td><td class="number">2</td><td class="number">1.12</td></tr>
<tr><td>KRT84</td><td class="number">chr12</td><td class="number">7822</td><td class="number">2073</td><td class="number">1803</td><td class="number">2</td><td class="number">1.11</td></tr>
<tr><td>PRSS3</td><td class="number">chr9</td><td class="number">48766</td><td class="number">1017</td><td class="number">915</td><td class="number">1</td><td class="number">1.09</td></tr>
</table>
</div>
</div>