<div class="row">
	<div class="twocol">
	  <h3 class="scenario">Case / Control</h3>
	  <ol class="modules">
 	   <li>Module 1</li>
	   <li>Module 2</li>
	   <li>Module 3</li>
	   <li>Module 4</li>
	   <li>Module 5</li>
	   <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Rare Disease</h3>
	  <ol class="modules">
 	   <li>Module 1</li>
	   <li>Module 2</li>
	   <li>Module 3</li>
	   <li>Module 4</li>
	   <li>Module 5</li>
	   <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Unknown Patient</h3>
	  <ol class="modules">
 	   <li>Module 1</li>
	   <li>Module 2</li>
	   <li>Module 3</li>
	   <li>Module 4</li>
	   <li>Module 5</li>
	   <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Healthy Individual</h3>
	  <ol class="modules">
 	   <li>Module 1</li>
	   <li>Module 2</li>
	   <li>Module 3</li>
	   <li>Module 4</li>
	   <li>Module 5</li>
	   <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Custom</h3>
	  <ol class="modules">
	    <li>Select and order modules by yourself!</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol last">
	  <h3 class="scenario"></h3>
	  <div></div>
	</div>
</div>