<div class="row">
	<div class="twelvecol">
	  <h1 class="home"><span class="logo">gKnome</span>
		<span class="tagline">Whole Genome Sequencing Analysis Pipeline</span></h1>
    
  </div>
</div>
<div class="row">
	<div class="eightcol">
    <h2>Analysis Pipelines</h2>
    <p>We provide four pre-defined analysis pipelines, each of which has different combination of analysis modules. You can also <%= link_to "select your own combination of analysis modules" %>.</p>
	</div>
	<div class="fourcol last">
	  <h3 class="pipeline"></h3>
	  <button class="pipeline">Case / Control</button>
	  <button class="pipeline">Cases only</button>
	  <button class="pipeline">Family study</button>
	  <button class="pipeline">Healthy</button>
	</div>
</div>

<div class="row">
	<div class="twelvecol">
    <h2>Overview of Workflow</h2>
    <p>The analysis pipeline is consisted of 3 major modules designed to filter for variants with functional impact, which enables the knowledge enrichment for diseases and pathways. </p>
  </div>
</div>

<div class="row">
	<div class="fourcol">
	  <h3>1. Allele Frequency</h3>
	  <ul class="modules">
      <li>ethnicity (EUR, AFR, ASN)</li>
	    <li>dbSNP132</li>
	    <li>1000 genomes</li>
	    <li>200 exomes</li>
	    <li>69 &times; CGI genomes</li>
	  </ul>
	</div>
	<div class="fourcol">
	  <h3>2. Functional Impact</h3>
	  <ul class="modules">
      <li>Protein Coding genes (RefSeq)</li>
      <li>Non-coding (miRNA, TFBS)</li>
      <li>Functtional impact prediction</li>
	    <li>Sequence Conservations (PhastCons)</li>
	    <li>Repeat Sequences</li>
	  </ul>
	</div>
	<div class="fourcol last">
	  <h3>3. Knowledge Enrichment</h3>
	  <ul class="modules">
      <li>Disease Association</li>
	    <li>Pathways</li>
	    <li>Biological Processes</li>
	  </ul>
	</div>
</div>
