<div class="row">
	<div class="twelvecol">
	  <h1 class="home"><span class="logo">gKnome</span>
		<span class="tagline">Whole Genome Sequencing Analysis Pipeline</span></h1>
    <h2>Analysis Scenarios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor blandit ligula, ac viverra sem mattis nec. Fusce mollis aliquam enim, a placerat orci feugiat id.</p>
  </div>
</div>
<div class="row">
	<div class="twocol">
	  <h3 class="scenario">Case / Control</h3>
	  <ol class="modules">
      <li>Module 1</li>
      <li>Module 2</li>
      <li>Module 3</li>
      <li>Module 4</li>
      <li>Module 5</li>
      <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Cases only</h3>
	  <ol class="modules">
      <li>Module 1</li>
      <li>Module 2</li>
      <li>Module 3</li>
      <li>Module 4</li>
      <li>Module 5</li>
      <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Rare known disease</h3>
	  <ol class="modules">
      <li>Module 1</li>
      <li>Module 2</li>
      <li>Module 3</li>
      <li>Module 4</li>
      <li>Module 5</li>
      <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Rare unknown disease</h3>
	  <ol class="modules">
 	    <li>Module 1</li>
	    <li>Module 2</li>
	    <li>Module 3</li>
	    <li>Module 4</li>
	    <li>Module 5</li>
	    <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Family study</h3>
	  <ol class="modules">
	    <li>Module 1</li>
 	    <li>Module 2</li>
 	    <li>Module 3</li>
 	    <li>Module 4</li>
 	    <li>Module 5</li>
 	    <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol last">
	  <h3 class="scenario">Healthy</h3>
	  <ol class="modules">
	    <li>Module 1</li>
 	    <li>Module 2</li>
 	    <li>Module 3</li>
 	    <li>Module 4</li>
 	    <li>Module 5</li>
 	    <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
</div>

<div class="row">
	<div class="twelvecol">
    <h2>Analysis Modules</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor blandit ligula, ac viverra sem mattis nec. Fusce mollis aliquam enim, a placerat orci feugiat id.</p>
  </div>
</div>

<div class="row">
	<div class="twocol">
	  <h3 class="scenario">Functional annotation</h3>
	  <ol class="modules">
      <li>Coding genes (RefSeq)</li>
      <li>Non-coding (miRNA, TFBS)</li>
      <li>Functtional impact prediction (polyphen2, SIFT)</li>
	  </ol>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Novel or rare variants</h3>
	  <ol class="modules">
	    <li>dbSNP132</li>
	    <li>1000 genomes</li>
	    <li>200 exomes</li>
	    <li>5 &times; CGI genomes</li>
	  </ol>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Allele zygosity</h3>
	  <ol class="modules">
	    <li>homozygous</li>
	    <li>heterozygous</li>
	  </ol>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Biological process</h3>
	  <ol class="modules">
	    <li>Pathways</li>
	    <li>GO terms</li>
	  </ol>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Sequence features</h3>
	  <ol class="modules">
	    <li>Conservations (PhastCons)</li>
	    <li>Repeat</li>
	    <li>Segmental duplication</li>
	  </ol>
	</div>
	<div class="twocol last">
	  <h3 class="scenario">Disease association</h3>
	  <ol class="modules">
	    <li>HGMD</li>
	    <li>GWAS</li>
	    <li>OMIM</li>
	    <li>pharmGKB</li>
	    <li>PubMed</li>
	  </ol>
	</div>
</div>