<div class="row">
	<div class="twelvecol">
    <h2>Annotation Scenarios</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor blandit ligula, ac viverra sem mattis nec. Fusce mollis aliquam enim, a placerat orci feugiat id.</p>
  </div>
</div>
<div class="row">
	<div class="twocol">
	  <h3 class="scenario">Case / Control</h3>
	  <ol class="modules">
      <li>Module 1</li>
      <li>Module 2</li>
      <li>Module 3</li>
      <li>Module 4</li>
      <li>Module 5</li>
      <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Cases only</h3>
	  <ol class="modules">
      <li>Module 1</li>
      <li>Module 2</li>
      <li>Module 3</li>
      <li>Module 4</li>
      <li>Module 5</li>
      <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Rare known disease</h3>
	  <ol class="modules">
      <li>Module 1</li>
      <li>Module 2</li>
      <li>Module 3</li>
      <li>Module 4</li>
      <li>Module 5</li>
      <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Rare unknown disease</h3>
	  <ol class="modules">
 	    <li>Module 1</li>
	    <li>Module 2</li>
	    <li>Module 3</li>
	    <li>Module 4</li>
	    <li>Module 5</li>
	    <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol">
	  <h3 class="scenario">Family study</h3>
	  <ol class="modules">
	    <li>Module 1</li>
 	    <li>Module 2</li>
 	    <li>Module 3</li>
 	    <li>Module 4</li>
 	    <li>Module 5</li>
 	    <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
	<div class="twocol last">
	  <h3 class="scenario">Healthy</h3>
	  <ol class="modules">
	    <li>Module 1</li>
 	    <li>Module 2</li>
 	    <li>Module 3</li>
 	    <li>Module 4</li>
 	    <li>Module 5</li>
 	    <li>Module 6</li>
	  </ol>
	  <button class="clean-gray">Start!</button>
	</div>
</div>