<h1>Biological Process Enrichment Analysis</h1>
<p>Fisher’s exact test was used to identify any enriched biological process from the candidate <%= link_to "gene list", genes_path %>.</p>
<table>
  <tr>
    <th>Biological Process</th>
    <th>p-value</th>
    <th>Gene (NCBI GeneID)</th>
  </tr>
<tr><td>NEURITE DEVELOPMENT</td><td class="number">0.004</td><td>LAMB1(3912), ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>M PHASE</td><td class="number">0.007</td><td>CDC27(996), CENPE(1062), MAD2L1(4085), TTN(7273), REC8(9985), ANLN(54443), TAF1L(138474)</td></tr>
<tr><td>NUCLEOTIDE EXCISION REPAIR</td><td class="number">0.007</td><td>ERCC6(2074), XPC(7508), MMS19(64210)</td></tr>
<tr><td>NEURON DEVELOPMENT</td><td class="number">0.007</td><td>LAMB1(3912), ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>AXONOGENESIS</td><td class="number">0.010</td><td>ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>CELL MIGRATION</td><td class="number">0.010</td><td>LAMB1(3912), PRSS3(5646), SEMA3B(7869), PPAP2B(8613), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>CELLULAR MORPHOGENESIS DURING DIFFERENTIATION</td><td class="number">0.015</td><td>ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>REGULATION OF AXONOGENESIS</td><td class="number">0.016</td><td>ROBO2(6092), RTN4(57142)</td></tr>
<tr><td>TRIACYLGLYCEROL METABOLIC PROCESS</td><td class="number">0.016</td><td>PNLIPRP2(5408), APOA5(116519)</td></tr>
<tr><td>NEURON DIFFERENTIATION</td><td class="number">0.017</td><td>LAMB1(3912), ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>MITOSIS</td><td class="number">0.022</td><td>CDC27(996), CENPE(1062), MAD2L1(4085), TTN(7273), ANLN(54443)</td></tr>
<tr><td>GENERATION OF NEURONS</td><td class="number">0.024</td><td>LAMB1(3912), ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>M PHASE OF MITOTIC CELL CYCLE</td><td class="number">0.024</td><td>CDC27(996), CENPE(1062), MAD2L1(4085), TTN(7273), ANLN(54443)</td></tr>
<tr><td>ORGAN MORPHOGENESIS</td><td class="number">0.024</td><td>HCCS(3052), ITGA2(3673), ITGAX(3687), LAMB1(3912), NOTCH2(4853), CUL7(9820), LSR(51599)</td></tr>
<tr><td>POST GOLGI VESICLE MEDIATED TRANSPORT</td><td class="number">0.030</td><td>AP3B2(8120), SCAMP1(9522)</td></tr>
<tr><td>REGULATION OF NEUROGENESIS</td><td class="number">0.030</td><td>ROBO2(6092), RTN4(57142)</td></tr>
<tr><td>RIBOSOME BIOGENESIS AND ASSEMBLY</td><td class="number">0.030</td><td>GEMIN4(50628), SDAD1(55153)</td></tr>
<tr><td>NEUROGENESIS</td><td class="number">0.036</td><td>LAMB1(3912), ROBO2(6092), SEMA3B(7869), SEMA4F(10505), RTN4(57142)</td></tr>
<tr><td>BASE EXCISION REPAIR</td><td class="number">0.038</td><td>ERCC6(2074), CCNO(10309)</td></tr>
<tr><td>CELL CYCLE PHASE</td><td class="number">0.048</td><td>CDC27(996), CENPE(1062), MAD2L1(4085), TTN(7273), REC8(9985), ANLN(54443), TAF1L(138474)</td></tr>
</table>
