<div class="row">
	<div class="twelvecol">
	  <h1>Analysis Summary</h1>
	  <h2>Gene Annotation</h2>
    <br />
    <table class="test">
      <tr><td></td><th>Total transcripts</th><th>synonymous</th><th>missense</th><th>nonsense</th><th>nonstop</th><th>misstart</th><th>frameshift</th><th>in-frame-insertion</th><th>in-frame-deletion</th><th>disrupt</th></tr>
      <tr><th>CCDS 2011-04</th><td>19,841</td><td>6,216</td><td>4,937</td><td>45</td><td>9</td><td>9</td><td>81</td><td>58</td><td>69</td><td>24</td></tr>
      <tr><th>RefSeq 2011-03</th><td>36,490</td><td>15,372</td><td>18,540</td><td>1,342</td><td>1,206</td><td>19</td><td>5,269</td><td>515</td><td>562</td><td>161</td></tr>
      <tr><th>Ensembl 2009-08</th><td>62,031</td><td>20,242</td><td>24,379</td><td>1,443</td><td>1,375</td><td>34</td><td>5,522</td><td>553</td><td>602</td><td>348</td></tr>
    </table>
    
    <h2>Allele Zygosity</h2>
    <br />
    
    <p><strong>Novel variants</strong>: do not exist in any of dbSNP132 AND 1000 Genomes AND 200 Exomes
      <br />
      <strong>Rare variants</strong>: &lt; 1% allele frequency in EUR (dbSNP132 AND 1000 Genomes AND 200 Exomes)
    </p>
  </div>
</div>
<div class="row">
	<div class="fourcol">
	  <h3 class="pipeline">Sample A</h3>
	  <img src="http://chart.apis.google.com/chart?chxs=0,676767,12&chxt=x&chs=340x120&cht=p&chco=335566,EEEEEE&chd=e:DcCeCTAj3N&chp=3.15&chl=rare%2C+heterozygous|rare%2C+homozygous|novel%2C+heterozygous|novel%2C+homozygous&chma=0,0,0,3|0,6" width="340" height="120" alt="" />
	</div>
	<div class="fourcol">
	  <h3 class="pipeline">Sample B</h3>
<img src="http://chart.apis.google.com/chart?chxs=0,676767,12&chxt=x&chs=340x120&cht=p&chco=335566,EEEEEE&chd=e:D3C8CkAt13&chp=3.15&chl=rare%2C+heterozygous|rare%2C+homozygous|novel%2C+heterozygous|novel%2C+homozygous&chma=0,0,0,3|0,6" width="340" height="120" alt="" />	</div>
	<div class="fourcol last">
	  <h3 class="pipeline">Sample C</h3>
<img src="http://chart.apis.google.com/chart?chxs=0,676767,12&chxt=x&chs=340x120&cht=p&chco=335566,EEEEEE&chd=e:D3C8CkAt13&chp=3.15&chl=rare%2C+heterozygous|rare%2C+homozygous|novel%2C+heterozygous|novel%2C+homozygous&chma=0,0,0,3|0,6" width="340" height="120" alt="" />	</div>
</div>
<div class="row">
	<div class="fourcol">
	  <h3 class="pipeline">Sample D</h3>
<img src="http://chart.apis.google.com/chart?chxs=0,676767,12&chxt=x&chs=340x120&cht=p&chco=335566,EEEEEE&chd=e:DdCzCOAo23&chp=3.15&chl=rare%2C+heterozygous|rare%2C+homozygous|novel%2C+heterozygous|novel%2C+homozygous&chma=0,0,0,3|0,6" width="340" height="120" alt="" />	</div>
	<div class="fourcol">
	  <h3 class="pipeline">Sample E</h3>
<img src="http://chart.apis.google.com/chart?chxs=0,676767,12&chxt=x&chs=340x120&cht=p&chco=335566,EEEEEE&chd=e:DwC5CpAs1-&chp=3.15&chl=rare%2C+heterozygous|rare%2C+homozygous|novel%2C+heterozygous|novel%2C+homozygous&chma=0,0,0,3|0,6" width="340" height="120" alt="" />	</div>
	<div class="fourcol last">
	  <h3 class="pipeline">Sample F</h3>
<img src="http://chart.apis.google.com/chart?chxs=0,676767,12&chxt=x&chs=340x120&cht=p&chco=335566,EEEEEE&chd=e:D6C7CyAt1o&chp=3.15&chl=rare%2C+heterozygous|rare%2C+homozygous|novel%2C+heterozygous|novel%2C+homozygous&chma=0,0,0,3|0,6" width="340" height="120" alt="" />	</div>
</div>
